<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sahil's Node ToDo App</h1>

    <div>
        <form method="post" action="/send">
            <input type="text" name="task">
            <button type="submit" name="submit">Add Task</button>
        </form>
    </div>

    <% if (tasks.length > 0) { %>
        <h1>Things I need to do:</h1>
    <div>
        <% for (let task of tasks) { %>
            <div>
                <h1> <%= task.todo %></h1>
            </div>
    
            <div>
                <form action="/delete/<%= task._id %>" method="POST">
                    <input type="hidden" value="<%= task._id %>" name="productId">
                    <button class="btn" type="submit">Delete</button>
                </form>
            </div>
        <% } %>
        <% } else { %>
            <h1>Nothing to do right now!</h1>
            <% } %> 
</body>
</html>